<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context
       					   http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入配置文件 -->
    <import resource="includes/spring-properties.xml"/>

    <!-- 数据源 -->
    <import resource="includes/spring-ds.xml"/>

    <!-- hibernate 配置 -->
    <import resource="includes/spring-hibernate.xml"/>

    <import resource="includes/spring-tx.xml"/>

    <context:component-scan base-package="cn.com.yunyoutianxia.simple">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

</beans>